.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  border: 1px solid #ededed;
  border-radius: 10px;
  transition: all 0.8s ease-in;
}
.custom-what-we-do-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  background-color: var(--primary-color);
  width: 80px;
  height: 80px;
  padding: 10px;
  margin: auto;
  border-radius: 70% 30% 30% 70% / 60% 40%;
  transition: all 0.8s ease-in;
}
.custom-what-we-do-icon {
  font-size: 30px;
  color: var(--icon-color);
}

.custom-card:hover .custom-what-we-do-icon-box {
  background: var(--bg-color);
  border-color: var(--primary-color);
  border-radius: 50%;
}
.custom-card:hover .custom-what-we-do-icon {
  color: var(--icon-hover-color);
}
.custom-what-we-do-text {
  margin: 15px 0;
  font-size: 20px;
}
.staff-link {
  cursor: pointer;
  display: block;
}
.contact-item{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ico{
  font-size: 25px;
}

.media-ico{
  font-size: 30px;
  transition: all .6s ease-in-out;
}

.media-icon-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 25px;
  margin: 0;
  border-radius: 50%;
  transition: all .6s ease-in-out;
}

.media-icon-holder:hover{
  background-color: var(--primary-color);
}
.media-icon-holder:hover .media-ico{
  color: whitesmoke;
}

/* .about-bg{
  background-image: linear-gradient(to right, rgba(255, 98, 26, 0.6), rgba(255, 255, 255, 0.6));
} */

.container-bg{
  background-image: linear-gradient(to right, rgba(0, 9, 63, 0.7), rgba(168, 81, 0, 0.6)),url('../images/banner3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
  /* linear-gradient(to right, rgba(255, 0, 0, 0.68), rgba(0, 0, 255, 0.45)) */
